/* tagname */
article{
    color: brown;
    background-color: blanchedalmond;
    font-size: 60px;
}
/* grouping */
#demo,#a,#b{
    color:blue;
    background-color: bisque;
    font-size: 20px;
}
/* universe */
*
{
    background-color: hotpink;
    color: bisque;
    font-size: 30px;
}